* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDFCC9;
  font-family: 'DotGothic16', sans-serif;
}


.l-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10vw;
  border: 5px solid #000;
}

.l-text .inner {
  color: #000;
  text-align: justify;
  font-weight: bold;
  letter-spacing: 0em;
  line-height: 1.25;
}

.l-text .inner span {
  display: inline-block;
}

.link {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  font-size: 18px;
  color: inherit;
  text-decoration: none;
  color: #FFF;
  background-color: #000;
  z-index: 9999;
}